height: 100%;
  width: 100%;
}
h1 {
  color: #C69F89;
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: honeydew;
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}

li {
  color: honeydew;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #C69F89;